<!DOCTYPE html>
<html lang="<%= lang %>" dir="ltr">
  <head></head>
  <body>
    <%- include('templates/nav'); %>

    <%- include('article.ejs'); %>

    <div id="sharetool-container"></div>

	<h3 class="coverflow-header">Click to see other sport explainers</h3>
	  <div id="coverflow"></div>
	  <div id="sport-name"></div>	
	<div id="sport-list"></div>	
	
    <%- include('templates/footer'); %>
  </body>
</html>
